@using GaiaProject.Controllers
@using GameInfoController = GaiaProject.Models.Data.GameInfoController
@model List<GaiaProject.Models.Data.GameInfoController.StatisticsFaction>

@{
    ViewBag.Title = "통계";
    Layout = "_Layout";
}

<form>
    <div class="row">
        <div class="col-lg-8">
            <div class="input-group">
                @Html.Partial("Partial_Html_UserCount", this)

                <input type="text" class="form-control" placeholder="사용자명" id="username" name="username">
                <select class="btn dropdown-toggle form-control" id="orderType" name="orderType" style="width: 100px">
                    <option value="">--정렬--</option>
                    <option value="1">라운드</option>
                    <option value="2">평균</option>
                    <option value="3">승리</option>
                    <option value="4">승률</option>
                </select>

                <span class="input-group-btn">
                    <button class="btn btn-default" type="submit">검색</button>
                </span>
                
            </div>
        </div>
        <div  class="col-lg-4">
            <a href="/GameInfo/FactionStatisticsChart">차트통계</a>
        </div>
    </div>
</form>

@Html.Partial("Partial_Html_FactionStatistics", Model)




