<?xml version="1.0" encoding="utf-8"?>
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/a1ddf184-768b-4137-be13-bd612afc35fa/resourceGroups/gaia-project/providers/Microsoft.Web/sites/gaia-project</ResourceId>
    <SiteUrlToLaunchAfterPublish>http://gaia-project.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <MSDeployServiceURL>gaia-project.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>gaia-project</DeployIisAppPath>
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$gaia-project</UserName>
    <_SavePWD>True</_SavePWD>
  </PropertyGroup>
</Project>